<div class="form-wrapper">
  <h2>Your Cart</h2><br />
  <% if !@cart.nil? %>
  <table class="table table-condensed table-bordered">     
    <tr>
      <th>Model</th>
      <th>Price</th>
<!--  <th>Quantity</th>  -->
      <th>Delete</th>
    </tr>
    <% @cart.each do |k,v|%>
      <tr>
        <td><%= Product.find(k).name %></td>
        <td><%= number_to_currency(Product.find(k).price) %></td>
<!--    <td><%=v%></td>   -->
        <td>    
          <%= form_tag(delete_order_item_path, method: :delete, data: { confirm: 'Are you sure?' }) do %>
            <%= hidden_field_tag :id, k %>
            <%= submit_tag "Delete" %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </table>
  <%end%>
  <%=link_to("Check Out", '/checkout')%>
</div>
