<!DOCTYPE html>
<html>
<head>
  <title>Entv</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header" class="row">
      <%= render "layouts/navbar" %>
    </div>
    <div class="row" id="content">
      <%= render "layouts/sidebar" %>
      <%= render "layouts/content" %>
    </div>
    <div class="row" id="footer">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</body>
</html>
