<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Online electronics store. We sell variety of electronics device including smart phones, computers, laptops, headphone and more.">
  <meta name="keywords" content="Online store, Online electronics store, Computer, Smart Phone, Headphone, Electronic Device">
  <meta name="author" content="Hor Norin, Elit, Thai Visal, Buth Mathearo">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title><%= full_title yield(:title) %></title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header" class="row">
      <%= render "layouts/navbar" %>
    </div>
    <div class="row" id="content">
      <%= render "layouts/sidebar" %>
      <%= render "layouts/content" %>
    </div>
    <div class="row" id="footer">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</body>
</html>
